h3, #search {
	display: inline;
}

table, td, tr {
	text-align: left;
	border-collapse: collapse;
	border-style: solid;
	border-width: 2px;
	font-family: "Arial", times, serif;
}

table {
	width: 1000px;
	margin: auto;
}

figure {
	height: 200px;
	border-style: solid;
	border-width: 2px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

h4 {
	/*border-style: solid;*/
	text-align: center;
	font-size: 20px;
	border-collapse: collapse;
	margin-top: 0px;
	margin-bottom: 0px;
}

.oglas {
	border-style: solid;
	width: 300px;
	text-align: top;
	height: 100%;
	border-collapse: collapse;
}

.buy {
	display: block;
	margin: auto;
	width: 80%;
	padding: 10px;
}

.zavihki {
	display: block;
	margin: auto;
	width: 80%;
	/*border-style: solid;*/
}

.glGumbi {
	width: 200px;
	text-align: center;
}

.zavGumb {
	height: 50px;
	width: 150px;
}

#podZavihkiG {
	display: table;
	margin: auto;
	width: 780px;
	/*border-style: solid;*/
}

form input {
	padding: 5px;
}

#brisi, form button {
	height: 30px;
}

h3 {
	width: 30px;
	margin-left: 100px;
	margin-right: 100px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

#zavihki td {
	border: none;
}

.zavihki, #zavihki, #zavihki tr{
	border: none;
}

.zavihki {
	margin-bottom: 20px;
}

.glGumbi {
	text-transform: uppercase;
	background-color: #d40606;
	color: #a4a4a4;
	border: none;
	font-size: 15px;
	border-radius: 5px;
	/*border: 2px solid #4e4e4f;*/
}

.tabela td {
	padding: 10px;
}

.buy {
	text-transform: uppercase;
	border: solid 1px red;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 3px;
}
