.zavihki {
	display: block;
	margin: auto;
	width: 80%;
}

#zavihki {
	width: 100%;
}

.glGumbi {
	width: 100%;
	text-align: center;
}

.zavGumb {
	height: 50px;
	width: 200px;
}

#slikaInOsPodatki {
	display: block;
	margin: auto;
	width: 1000px;
	overflow: auto;
	background-color: #eeecec;
	border-radius: 3px;
}

figure {
	display: inline-block;
	float: left;
	clear: both;
	position: relative;
}

#osebniPodatki {
	width: 800px;
	display: inline-block;
	overflow: auto;
	position: absolute;
}

#menjavaGesla {
	display: block;
}

#menjavaEmaila {
	display: block;
}

#p1{
	width: 300px;
	float: left;
	clear: both;
}

label {
	margin-top: 14px;
	display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
}

input[type=text] {
	display: inline-block;
	margin-bottom: 5px;
	float: left;
	padding: 8px 10px;
	border-color: #98808066;
	box-sizing: border-box;
	border-style: solid;
	border-radius: 3px;
}

#vsebina {
	text-decoration: none;
	line-height: 0.8;
	font-family: "Arial", Times;
}

#menjavaPodatkov {
	padding: 10px 13px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 370px;
	background-color: #eeecec;
	border-radius: 3px;
	padding-bottom: 0px;
}

.upoPodatki {
	text-indent: 20px;
}

#naslovStrani img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.gumbek {
	display: block;
	margin: auto;
	padding: 8px;
	width: 90px;
	text-transform: uppercase;
	background-color: #a8c6fd;
	border-radius: 3px;
	border: none;
	font-weight: bold;
}

input[type=submit]:hover {
	background-color: #3a73dc;
}

#trustScore {
	border: solid 1px;
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
	display: inline-block;
	float: left;
	margin-right: 15px;
	margin-top: 90px;
}